/**************** Section5 (Contact) ****************/
.section5 {
  background-color: whitesmoke;
  padding: 50px 30px;
}

.section5 p,
.section5 h3{
  margin: 0;
}

.section5 h3{
  padding-bottom: 10px;
}

.section5-inner {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 40px;
}

/******* Left side *******/
.inner-left-side ul {
  line-height: 30px;
}

.inner-left-side a {
  text-decoration: none;
  color: black;
}

.inner-left-side ul li i {
  color: #2d71bf;
}

.inner-left-side .top-left{
  padding-left: 17px;
}

/******* Right side *******/

.inner-right-side form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inner-right-side form textarea {
  width: 100%;
  padding-left: 5px;
  border: 1px solid rgb(215, 206, 206);
  resize: vertical; /* only allows vertical resizing */
}

.inner-right-side .name-email-container {
  width: 100%;
  display: flex;
  gap: 10px;
}

.inner-right-side .name-email-container input {
  padding: 8px 0 8px 5px;
  border: 1px solid rgb(215, 206, 206);
  flex: 1;
}

.inner-right-side .button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.inner-right-side .button-container button{
  padding: 10px 40px;
  border: none;
  background-color: #11345c;
  color: whitesmoke;
  border-radius: 5px;
}

.inner-right-side .button-container button:hover {
  filter: brightness(1.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



/******* SMALL SCREENS *******/

@media screen and (max-width: 700px) {
  .section5-inner {
    grid-template-columns: 1fr;
  }
}
