/**************** Section2 (services) ****************/
.section2 {
  background: linear-gradient(rgba(17, 52, 92, 0),
      rgba(17, 52, 92, 0.2));
  padding: 50px 30px;
}


/****** Titles ******/
.title-section {
  padding: 20px 0 50px 0; /* top 20px, bottom 50px */
  text-align: center;
  position: relative; /* needed for absolute positioning of h2 */
  z-index: 1;
}

.title-section p {
  margin: 0;
  font-size: 5rem;
  color: rgba(189, 201, 214, 0.14);
  user-select: none; /* prevents text from being selected */
  pointer-events: none; /* optional.. prevents clicks or hovers affecting it */

  /* "SERVICES" background text stay perfectly centered regardless of the container's padding. */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-section h2 {
  margin: 0;
  position: absolute;
  top: 50%; /*moves it down by 50%*/
  left: 50%; /*moves it right by 50%*/
  transform: translate(-50%, -50%); /*centers it move it left by 50% and up by 50%*/
  z-index: 2;
}

.title-section h2 .underline{
  content: "";
  width: 50%;
  height: 2px;
  background-color: #2d71bf;
  margin: 10px auto 0 auto;
}

/****** skills section ******/

.skills-section {
  margin-top: 50px;
}

.skills-section h3 {
  margin: 0;
}

.skills-section p {
  margin: 0;
  margin-top: 8px;
}

.skill-container {
  margin: 0 auto;
  max-width: 1200px; /* stops columns from stretching too wide */
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 40px;
}

.skill {
  display: flex;
  align-items: center; /* vertical align */
  gap: 20px;
}

.skill .icon {
  background-color: whitesmoke;
  border-radius: 2px;
  box-shadow: 8px 8px 10px rgb(17, 52, 92, 0.2);
}

.skill .icon i {
  font-size: 1.5rem;
  color: #2d71bf;
  width: 10vw; /* width = 10% of screen width */
  height: 10vw; /* height = same as width -> keeps square  */
  max-width: 60px;   /* never bigger than 60px */
  max-height: 60px;
  display: flex; /* centers the icon inside the box */
  align-items: center;
  justify-content: center;
}


/*********** SMALL SCREENS ************/
@media screen and (max-width: 700px) {
  .skill-container{
    grid-template-columns: 1fr;
  }
  
}