/**************** Section1 (about) ****************/
.section1 {
  background-color: #ecebeb;
  padding: 50px 30px;
}

.section1 p,
.section h2 {
  margin: 0;
}

/****** Content Section ******/
.content-section{
  padding: 20px;
}

/****** Section1-inner1 ******/
.section1-inner1 {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  align-items: baseline;
  gap: 40px;
  flex-wrap: wrap;
}

.section1-inner1 .left-side {
  flex: 1 0 calc(70% - 20px);
}

.section1-inner1 .left-side span {
  color: #11345c;
}

.section1-inner1 .right-side {
  flex: 1 0 calc(30% - 20px);
}

.section1-inner1 .right-side span {
  font-weight: bold;
}

.section1-inner1 .right-side p {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(195, 190, 190);
}

.section1-inner1 .right-side p a{
  text-decoration: none;
}

.section1-inner1 .right-side p:last-of-type{
  border: none;
}

.download-btn{
  padding: 10px 20px;
  border: none;
  background-color: #11345c;
  color: whitesmoke;
  border-radius: 5px;
  transition: 0.2s;
}

.download-btn:hover {
  filter: brightness(1.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/****** Section1-inner2 ******/
.section1-inner2 {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}

.section1-inner2 .text {
  flex: 1 0 25%;
  display: flex;
  flex-direction: column;
  gap: 5px;

  padding: 20px;
  border-right: 1px solid rgb(179, 173, 173); /* as vertical separator */
}

/* Remove vertical separator from last item */
.section1-inner2 .text:last-child {
  border: none;
}

.section1-inner2 .text .number {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-weight: bold;
  font-size: 25px;
  color: #5D656D;
}

.section1-inner2 .text .number i {
  font-size: 17px;
}

