footer{
  padding-top: 30px;
  background-color: #041528;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 13px 0 0 0;
}

footer p{
  margin: 0;
  padding-top: 10px;
  font-family: Arial, sans-serif;
  font-size: 12px;
}

footer div a{
  text-decoration: none;
  color: whitesmoke;
}

footer div i{
  font-size: 30px;
  padding-right: 5px;
  cursor: pointer;
} 


