.home-top {
  height: 100vh;
  background: linear-gradient(
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.6)), url(../assets/bg-imgg3.jpg);
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
}


/*********  Home *********/
.center-side {
  margin: auto;
  /*center vertically & horizontally*/
  text-align: center;
  color: whitesmoke;
}

.center-side h1 {
  font-size: 40px;
}

.center-side p {
  font-size: 35px;
  font-family: "Tangerine", cursive;
  font-weight: 700;

}

.center-side button {
  padding: 7px 15px;
  border: none;
  background-color: transparent;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  font-size: 15px;
  border-radius: 3px;
  transition: 0.2s;
  cursor: pointer;
}

.center-side button:hover {
  background-color: #296198;
  border: 1px solid #11345c;
  color: whitesmoke;
}
