/**************** Section2 (services) ****************/
.section2 {
  background-color: #fff;
  padding: 50px 30px;
}


/****** Titles ******/
.title-section {
  padding: 20px 10px 50px 10px; /* top 20px, bottom 50px */
  text-align: center;
  position: relative; /* needed for absolute positioning of h2 */
  z-index: 1;
}

.title-section p {
  margin: 0;
  font-size: 5rem;
  color: rgba(189, 201, 214, 0.14);
  user-select: none; /* prevents text from being selected */
  pointer-events: none; /* optional.. prevents clicks or hovers affecting it */

  /* "SERVICES" background text stay perfectly centered regardless of the container's padding. */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-section h2 {
  margin: 0;
  position: absolute;
  top: 50%; /*moves it down by 50%*/
  left: 50%; /*moves it right by 50%*/
  transform: translate(-50%, -50%); /*centers it move it left by 50% and up by 50%*/
  z-index: 2;
}

/****** skills section ******/

.skills-section {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 1200px; /* stops columns from stretching too wide */
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 40px;
}

.skills-section h3 {
  margin: 0;
}

.skills-section p {
  margin: 0;
  padding-top: 8px;
}

.skill {
  height: 100%; /* fill the grid cell */
  display: flex;
  align-items: flex-start; 
  gap: 20px;
}

.skill .icon {
  background-color: whitesmoke;
  border-radius: 2px;
}

.skill .icon i {
  font-size: 1.5rem;
  color: #2d71bf;
  width: 60px;
  height: 60px;
  display: flex; /* centers the icon inside the box */
  align-items: center;
  justify-content: center;
  box-shadow: 8px 8px 10px rgb(17, 52, 92, 0.1);
}


/*********** SMALL SCREENS ************/
@media screen and (max-width: 700px) {
  .skills-section{
    grid-template-columns: 1fr;
  }
  
}