/********* Side Bar *********/
.side-bar{
  position: fixed;
  top: 50px;
  left: 0;
  transform: translateX(-110%);
  transition: transform 0.5s;
  z-index: 50;
}

.side-bar.active{
  transform: translateX(0);
}

.side-bar ul {
  margin: 0;
  padding: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 7px;
}

.side-bar ul li{
  width: 100%;
  padding: 10px 20px;
  border-radius: 21px;
  background-color: rgba(14, 42, 71, 0.85);
  border: none;
  transition: 0.3s;
}

.side-bar ul li:hover {
  transform: translateX(5px);
}

.side-bar ul li a {
  font-size: 20px;
  text-decoration: none;
  color: whitesmoke;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 7px;
}








