/********* Side Bar *********/
.side-bar{
  background-color: #041528;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  transform: translateY(-110%);
  transition: transform 0.5s;
  z-index: 50;
}

.side-bar.active{
  border-top: 1px solid gray;
  transform: translateY(0);
}

.side-bar ul {
  margin: 0;
  padding: 15px;
  list-style: none;
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 7px;
}

.side-bar ul li{
  flex: 1 1 160px;
  padding: 10px;
  border-radius: 21px;
  background-color: rgba(14, 42, 71, 0.85);
  border: none;
  transition: 0.3s;
}

.side-bar ul li:hover {
  background-color: #296198;
}

.side-bar ul li a {
  font-size: 17px;
  text-decoration: none;
  color: whitesmoke;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}


/***Responsive on different screens***/
/* Small screens: 0-500px */
@media screen and (max-width: 500px) {
  .side-bar ul{
    flex-wrap: wrap;
  }
}

/* Medium screens: 501-700px */
@media screen and (min-width: 501px) and (max-width: 700px){
  .side-bar ul{
    flex-wrap: wrap;
  }
}












